.cart {
  display: block;
}
.cart__main-box_product-box_product_lable {
  cursor: pointer;
}
/* ============ INPUT CHECKBOX ============ */
.cart__up-box_checkbox {
  margin-bottom: 0.9rem;
  margin-left: 0.3rem;
}
.active,
.cart__main-box_checkbox {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--system-grey);
  border-radius: 5px;
  position: relative;
}
.active::before,
.cart__main-box_checkbox::before {
  content: "";
  position: absolute;
  top: 46%;
  left: 47%;
  transform: translate(-50%, -50%);
  display: block;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: all 0.2s;
}

.active::before,
.cart__main-box_input:checked + .cart__main-box_checkbox::before {
  opacity: 1;
  content: url(../icons/checkbox.svg);
}
/* ============ TEXT ============ */
.cart-header {
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin-top: 23px;
}
.cart__down-box_text,
.cart__up-box_text {
  font-size: 13.4px;
  font-weight: 700;
  flex: 1 0 0;
  margin-top: 2.3px;
  letter-spacing: 0.6px;
}
.cart__main-box_product-box-main-text {
  font-weight: 400;
  letter-spacing: 0.6px;
  margin-bottom: -5px;
}
.cart__main-box_product-box-main-text-a {
  font-size: 15px;
  color: var(--text-black);
  text-decoration: none;
  line-height: 24px;
}
.cart__main-box_product-box-text {
  font-size: 12px;
  color: var(--text-black);
  letter-spacing: 0.4px;
}
.cart__main-box_product-box_product_company-box_text {
  display: flex;
  color: var(--system-grey);
  gap: 10px;
  font-size: 12.5px;
}
.cart__main-box_product-box_icon_text {
  font-size: 12px;
  color: var(--system-red);
  margin-top: 9px;
  margin-bottom: 6px;
  letter-spacing: 0.5px;
}
.cart__main-box_product-box_amount-discount {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  width: 84px;
  border: none;
  color: var(--text-black);
  text-align: center;
}
[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  color: gray;
}
.cart__main-box_product-box_amount-discount_span {
  font-size: 18px;
  font-weight: 700;
}
.cart__main-box_product-box_amount-price {
  color: var(--system-grey);
  cursor: pointer;
  text-decoration: line-through;
  border-bottom: dashed var(--rulers-rulers-input) 1.5px;
  font-size: 11px;
  letter-spacing: 0.7px;
  margin-right: 5px;
}
.cart__main-box_product-box_icon_button-box_input {
  font-size: 12px;
  border: none;
  width: 22px;
  background-color: white;
  text-align: center;
}
/* ============ BOX ============ */
.cart__main-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 7px;
}
.cart__down-box,
.cart__up-box {
  display: flex;
  gap: 16px;
  margin-top: 22px;
  margin-bottom: 13px;
}
.cart__main-box_product-box {
  display: grid;
  padding-bottom: 9px;
  padding-top: 7px;
  padding-left: 5px;
  grid-template-columns: 6fr 1fr 1fr;
}

.cart__main-box_product-box_inform-product {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 253px;
}
.cart__main-box_product-box_product {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.cart__main-box_product-box_icon {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  gap: 2px;
  height: 16px;
}
.cart__main-box_product-box_product-text {
  display: flex;
  gap: 14px;
}
.cart__main-box_product-box_product_company-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.cart__main-box_product-box_product_img-checkbox {
  display: flex;
  align-items: center;
  gap: 11px;
}
.cart__main-box_product-box_icon_icon-box {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 44px;
}
.cart__main-box_product-box_icon_button-box {
  background-color: var(--system-white);
  width: 99px;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  gap: 20px;
}
.cart__main-box_product-box_amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: stretch;
}
.cart__main-box_product-box_amount_price-box {
  margin-bottom: 8px;
  display: flex;
}
/* ============ BUTTON ============ */
.cart__main-box_product-box_icon_button-box_button {
  border: none;
  background-color: var(--system-white);
  padding: 0;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 1024px) {
  .margin-top-icon {
    margin-top: -6px;
  }
  .cart__main-box_product-box {
    padding-bottom: 13px;
    padding-top: 4px;
    grid-template-columns: 3fr 1fr 1fr;
  }
  .cart__main-box_product-box_icon {
    padding-left: 38px;
  }
  .cart__main-box_product-box_product {
    gap: 16px;
    padding-bottom: 0px;
  }
  .cart__main-box_product-box_amount_price-box {
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .cart__main-box_product-box_amount-price {
    font-size: 12px;
  }

  .discontWrapper {
    margin-right: 6px;
  }
  .cart__main-box_product-box_amount-discount {
    width: 3em;
  }
  .price-size-small {
    width: 40px;
    font-size: 18px;
  }
  .cart__down-box,
  .cart__up-box {
    margin-bottom: 12px;
  }
  .btn-close,
  .btn-open {
    margin-top: -5px;
  }
}

@media (max-width: 1000px) {
  .cart {
    margin-left: 15px;
    width: 90%;
  }
  .cart-header {
    font-size: 20px;
    line-height: 45px;
    margin-bottom: 3px;
    margin-top: 11px;
  }
  .cart__down-box,
  .cart__up-box {
    gap: 11px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .cart__down-box_text,
  .cart__up-box_text {
    font-size: 1.4rem;
  }
  .cart__main-box {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  .cart__main-box_product-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .cart__main-box_product-box_product_img {
    position: relative;
  }

  .cart__main-box_product-box_product {
    gap: 16px;
    padding-bottom: 20px;
    width: 100%;
  }
  .cart__main-box_product-box_img-text-mobile {
    position: absolute;
    display: inline-block;
    font-size: 11px;
    bottom: 7px;
    left: 2px;
    background-color: var(--system-white);
    height: 13px;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
  }
  .cart__main-box_product-box_product_img-checkbox {
    display: block;
    position: relative;
  }
  .cart__main-box_checkbox-mobile {
    position: absolute;
    z-index: 99;
    background: white;
    top: 3px;
    left: 4px;
  }
  .cart__main-box_product-box_icon_button-box-mobile {
    display: flex;
    gap: 18px;
    align-items: center;
  }
  .cart__main-box_product-box_amount {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: absolute;
    top: 0;
    left: 96px;
    gap: 15px;
  }
  .cart__main-box_product-box_amount-price {
    font-size: 10px;
  }

  .cart__main-box_product-box_amount-discount {
    font-size: 13px;
  }
  .cart__main-box_product-box_amount-discount_span {
    font-size: 15px;
  }

  .cart__main-box_product-box-text {
    padding-top: 0;
  }
  .cart__main-box_product-box-main-text {
    padding-top: 26px;
  }
  .cart__main-box_product-box-main-text-a {
    font-size: 13px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    letter-spacing: 0.3px;
    width: 100%;
  }
  .cart__main-box_product-box_icon_text {
    width: 98px;
    font-size: 11px;
    margin-top: 0;
    letter-spacing: 0.5px;
  }
  .cart__main-box_product-box_icon_icon-box {
    padding-left: 17px;
    gap: 23px;
  }
  .cart__main-box_product-box_icon {
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    padding-left: 4px;
    padding-top: 0;
  }

  .cart__main-box_product-box {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 36px;
  }
  .cart__main-box_product-box:first-child {
    padding-bottom: 28px;
    padding-top: 2px;
  }

  .cart__main-box_product-box_amount_price-box {
    margin-bottom: 2px;
    display: block;
  }
  .cart__main-box_product-box_icon_button-box {
    padding: 2px;
    gap: 8px;
    justify-content: center;
    width: 76px;
    height: 29px;
  }
  .cart__main-box_product-box_icon_button-box_button {
    padding: 2px;
  }
  .img-product {
    width: 81px;
    height: 102px;
  }
  .second-box {
    padding-bottom: 8px;
  }
  .hide-text {
    display: none;
  }
  .margin-top-price {
    margin-top: 5px;
  }
  .price-size-small {
    font-size: 14px;
    width: 57px;
  }
  .margin-top-icon {
    margin-top: 11px;
  }
  .btn-close,
  .btn-open {
    margin-right: 4px;
    margin-top: -8px;
  }
}
