.notAvailable__main-box_product-box_img {
  margin-left: 1px;
  filter: grayscale(100%);
}
.margin-top {
  margin-top: 7px;
}

/* ============ TEXT ============ */
.notAvailable__down-box_text,
.notAvailable__up-box_text {
  font-size: 14px;
  font-weight: 700;
  flex: 1 0 0;
  letter-spacing: 0.8px;
  margin-top: 4px;
}

.notAvailable__main-box_product-box-main-text {
  width: 298px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 23px;
  margin-bottom: 0;
}
.notAvailable__main-box_product-box-main-text-a {
  font-size: 15px;
  letter-spacing: 0.5px;
  color: var(--system-grey);
  text-decoration: none;
}
.notAvailable__main-box_product-box-text {
  color: var(--system-grey);
  letter-spacing: 0.2px;
  font-size: 12px;
  margin-top: 8px;
}
/* ============ BOX ============ */
.notAvailable__down-box,
.notAvailable__up-box {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.notAvailable__main-box {
  margin-top: 14px;
}
.notAvailable__main-box_product-box {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding-bottom: 22px;
}
.notAvailable__main-box_product-box_product {
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 16px;
}
.notAvailable__main-box_product-box_icon {
  display: flex;
  align-items: center;
  padding-top: 12px;
  gap: 14px;
  width: 18px;
  height: 16px;
}
.notAvailable__main-box_product-box_product-text {
  display: flex;
  gap: 1.4rem;
}
.notAvailable__main-box_product-box_icon_img {
  height: 20px;
  width: 20px;
}

/* ============ BUTTON ============ */
.margin-top-product {
  margin-top: 9px;
}
.notAvailable__down-box_btn-open,
.notAvailable__up-box_btn-close,
.btn-close,
.btn-open {
  border: none;
  background-color: var(--system-smoky);
  padding-top: 9px;
}

.padding-top-icon {
  padding-top: 22px;
}

.margin-top-text-out-of-stoke {
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .notAvailable__main-box_product-box_product-text {
    gap: 19px;
  }
  .notAvailable__down-box_text,
  .notAvailable__up-box_text {
    margin-top: 6px;
  }
  .notAvailable__main-box_product-box_icon {
    padding-left: 37px;
  }
  .notAvailable__main-box_product-box-text,
  .notAvailable__main-box_product-box-mainText {
    margin-top: 5px;
  }
  .notAvailable__main-box_product-box {
    grid-template-columns: 2fr 1fr;
    padding-bottom: 22px;
  }
  .notAvailable__down-box_btn-open,
  .notAvailable__up-box_btn-close {
    margin-top: 5px;
  }
  .notAvailable__main-box_product-box-main-text-a {
    line-height: 21px;
  }
  .margin-top {
    margin-top: 4px;
  }
  .notAvailable__main-box_product-box_box-text {
    margin-left: 4px;
  }
  .notAvailable__main-box_product-box_product {
    gap: 15px;
  }
  .margin-top-text-out-of-stoke {
    margin-top: 12px;
  }
}

@media (max-width: 1000px) {
  .notAvailable {
    margin-left: 15px;
    width: 90%;
  }
  .notAvailable__down-box_text,
  .notAvailable__up-box_text {
    margin-top: 7px;
    letter-spacing: 0.8px;
  }
  .notAvailable__main-box_product-box_icon {
    display: flex;
    gap: 24px;
    padding-left: 28px;
    grid-column: -2;
    grid-row: 2;
    width: 40px;
    height: 39px;
    margin-right: 20px;
    margin-top: 7px;
  }
  .notAvailable__main-box_product-box_product {
    width: 174px;
    height: 107px;
    gap: 1px;
  }
  .notAvailable__main-box_product-box-main-text-a {
    font-size: 13px;
    letter-spacing: 0.2px;
  }
  .notAvailable__main-box_product-box_box-text {
    margin-left: 0px;
  }
  .notAvailable__main-box_product-box-text {
    font-size: 1.4rem;
    margin-top: 0;
    padding-top: 0;
    letter-spacing: -0.5px;
  }
  .notAvailable__main-box_product-box-main-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    width: 199px;
    line-height: 16px;
    margin-bottom: 4px;
  }
  .notAvailable__main-box_product-box {
    padding-bottom: 16px;
  }
  .notAvailable__main-box_product-box-text,
  .notAvailable__main-box_product-box-main-text {
    padding-left: 15px;
  }
  .notAvailable__main-box_product-box:not(:last-child) {
    padding-bottom: 15px;

    border-bottom: 0.4px solid var(--system-grey);
  }
  .notAvailable__main-box_product-box_img {
    position: relative;
    width: 82px;
    height: 111px;
    padding-top: 5px;
    margin-left: 0px;
  }
  .notAvailable__down-box,
  .notAvailable__up-box {
    margin-bottom: 21px;
  }
  .notAvailable__main-box {
    margin-top: 2px;
  }
  .notAvailable__main-box_product-box_img-textMobile {
    position: absolute;
    display: inline-block;
    font-size: 13px;
    bottom: 0px;
    left: 5px;
    background-color: var(--system-white);
    height: 15px;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
  }
  .notAvailable__down-box_btn-open,
  .notAvailable__up-box_btn-close {
    margin-right: 4px;
    margin-top: 5px;
  }
  .margin-top-text {
    margin-top: 17px;
  }
  .margin-top-product {
    margin-top: 7px;
  }
  .margin-top-text-out-of-stoke {
    margin-top: 10px;
  }
  .margin-top {
    margin-top: 4px;
  }
  .padding-top-icon {
    padding-top: 22px;
  }
  .padding-top-text {
    padding-top: 8px;
  }
}
