.recipient {
  display: flex;
  padding: 0px 6px 2px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  border-radius: 16px;
  background: var(--background-white, #fff);
  margin-bottom: 40px;
}
.recipient__heading {
  margin-bottom: 6px;
  font-size: 24px;
  font-weight: 700;
  margin-top: 19px;
}
.recipient__text {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.recipient__form {
  width: 100%;
}

.recipient__form-another-inform {
  display: flex;
  gap: 18px;
}
.recipient__formNameSurname {
  display: grid;
  width: 95%;
  grid-template-columns: 44% 44%;
}
/* ============ INPUT BOX ============ */
.recipient__form_input-box {
  position: relative;
  margin-bottom: 27px;
}
.recipient-input {
  font-size: 18px;
  padding: 10px 0 10px 5px;
  border: none;
  border-bottom: 1px solid var(--system-grey);
}
.recipient-input:focus {
  outline: none;
}

/* ============ LABEL ============ */
.recipient__form_input-box-label {
  color: var(--system-grey);
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 14px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.recipient-input:focus ~ .recipient__form_input-box-label,
.recipient-input:valid ~ .recipient__form_input-box-label {
  top: -24px;
  font-size: 13px;
}
/* ============ BOTTOM BARS ============ */
.bar {
  position: relative;
  display: block;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
*/
/* ============ HIGHLIGHTER ============ */
.highlight {
  position: absolute;
  height: 50%;
  top: 10%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* ============ ERROR ============ */

.error {
  display: inline-block;
  position: absolute;
  top: 54px;
  color: var(--system-red);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.errorInput {
  color: var(--system-red);
}
@media (max-width: 1024px) {
  .recipient {
    gap: 11px;
  }
  .recipient__heading {
    font-size: 24px;
    margin-top: 20px;
  }

  .recipient__formNameSurname:not(:last-of-type),
  .recipient__form-another-inform:not(:last-of-type) {
    margin-bottom: -3px;
  }
  .bar {
    font-size: 11.5px;
    line-height: 19px;
  }
  .recipient__formNameSurname {
    display: grid;
    width: 92%;
    grid-template-columns: 54% 54%;
  }
  .recipient__form-another-inform {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 30px;
    gap: 29px;
    padding-top: 5px;
  }
  .recipient__form_input-box-input {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .recipient {
    margin: 0px 2.7px;
    padding: 0 12px;
    padding-top: 15px;
    margin-bottom: -9px;
  }
  .recipient__form_input-box {
    margin-bottom: 30px;
  }
  .recipient__heading {
    margin-bottom: -4px;
    margin-top: 4px;
    font-size: 20px;
  }

  .recipient__formNameSurname,
  .recipient__form-another-inform {
    gap: 5px;
    display: flex;
    flex-direction: column;
  }
  .margin-bottom {
    margin-bottom: 25px;
  }

  .infom-wrapper {
    margin-top: 8px;
    margin-left: 9px;
  }
  .bar {
    line-height: 28px;
  }
  .recipient__form-another-inform {
    padding-right: 0px;
  }
  .recipient__form_input-box-input,
  .recipient__formNameSurname {
    display: inline-block;
    width: 100%;
  }
}
