.result {
  margin-top: 20px;
  background-color: var(--system-white);
  display: flex;
  height: 100%;
  width: 33%;
  border-radius: 16px;
  padding: 9px 24px 24px 24px;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
    0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.result__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
/* ============ HEADER ============ */
.result__main_header {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  height: 49px;
}
.result__main_header-h3,
.result__main_header-h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.24px;
}
.result__main_header-h3-span {
  font-size: 18px;
}
.result__main_box-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.result__main_price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 2px;
}
.result__main_price-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.result__main_price-text-p {
  font-size: 16px;
}
.result__main_price-text-price {
  letter-spacing: 0.5px;
}
/* ============ DELIVERY ============ */
.result__main_delivery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  margin-top: 9px;
}
.result__main_delivery-text_box-header-h2 {
  letter-spacing: 0.5px;
  margin-bottom: 4px;
  font-weight: 700;
}
.result__main_delivery-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}
.result__main_delivery-ok {
  position: relative;
  background-color: var(--system-smoky);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  margin-top: 8px;
  padding: 10px 9px;
}
.result__main_delivery-text_box-header {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.result__main_delivery-text_box-header-button {
  border: none;
  background-color: var(--system-white);
  padding-top: 1px;
}
.result__main_delivery-text-p,
.result__main_delivery-text-Pink {
  font-size: 13px;
  line-height: 16px;
}
.result__main_delivery-text-Pink {
  color: var(--system-magenta);
}
.result__main_delivery-ok-p {
  font-size: 13px;
  line-height: 15px;
}
.result__main_delivery-ok-green {
  color: var(--system-green);
  text-decoration: underline dashed rgba(12, 180, 119, 0.2) 1.5px;
  text-underline-offset: 3px;
}
/* ============ PAYMENT ============ */

.result__main_payment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  align-self: stretch;
}

.result__main_payment_box-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.result__main_payment_box-card_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  margin-top: 14px;
}
.result__main_payment_box-card_head_h2 {
  letter-spacing: 0.5px;
}
.result__main_payment_box-card_card {
  display: flex;
  align-items: center;
  gap: 11px;
  align-self: stretch;
}
.result__main_payment_box-confirm {
  display: flex;
  padding: 7px 8px 12px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  align-self: stretch;
  background-color: var(--system-smoky);
  border-radius: 8px;
}
.result__main_payment_box-card-button {
  border: none;
  background-color: var(--system-white);
}
.result__main_payment_box-card-img {
  display: flex;
  width: 32px;
  height: 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--system-smoky);
}
.result__main_payment_box-card-p {
  font-size: 13px;
}
.result__main_payment_box-confirm_inform-lable {
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 12px;
  cursor: pointer;
}
.result__main_payment_box-confirm_inform-input {
  display: none;
}
.result__main_payment_box-confirm_inform-span {
  display: inline-block;
  width: 21px;
  height: 22px;
  border: 1px solid var(--system-grey);
  border-radius: 5px;
  position: relative;
}
.result__main_payment_box-confirm_inform-span::before {
  content: "";
  position: absolute;
  top: 43%;
  left: 46%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: all 0.2s;
}
.result__main_payment_box-confirm_inform-input:checked
  + .result__main_payment_box-confirm_inform-span::before {
  opacity: 1;
  content: url(../icons/checkbox.svg);
}

.result__main_payment_box-confirm-p {
  font-size: 12px;
  letter-spacing: 0.5px;
}
/* ============ BUTTON ============ */
.result_box-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.result_box-button_button {
  display: flex;
  height: 44px;
  padding: 9px 32px 5px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background-color: var(--system-magenta);
  color: var(--system-white);
  font-size: 16px;
  border-radius: 8px;
  border: none;
}

.result_box-button_box-inform {
  display: flex;
  gap: 8px;
  align-self: stretch;
  align-items: center;
  margin-top: 11px;
}

.result_box-button_box-inform_p {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.5px;
}
.result_box-button_box-inform_span {
  text-decoration: underline var(--rulers-rulers) 1.5px;
  text-underline-offset: 2px;
}
.result_box-button_box-inform_icon {
  margin-top: -8px;
}
.result_delivery-inform {
  padding-top: 5px;
}

@media (max-width: 1024px) {
  .result {
    padding: 9px 23px 24px 20px;
    width: 51%;
    margin-left: 10px;
  }
  .result__main_header {
    height: 51px;
  }
  .result__main_delivery-inform {
    width: 95%;
  }
  .result__main_delivery-text {
    gap: 2px;
  }
  .result__main_delivery-text-p,
  .result__main_delivery-text-Pink {
    letter-spacing: -0.3px;
  }
  .result__main_delivery-ok {
    margin-top: 17px;
    padding-top: 8px;
  }
  .result__main_delivery-text_box-header-button,
  .result__main_payment_boxCard-button {
    padding-right: 0;
  }

  .result_box-button_box-inform_p {
    letter-spacing: 0.2px;
  }
  .result_box-button_box-inform {
    align-items: start;
    margin-top: 15px;
  }
  .result_box-button_box-inform_icon {
    margin-top: -1px;
  }
  .result__main_payment_boxConfirm {
    gap: 8px;
  }
  .result__main {
    gap: 13px;
  }
}
@media (max-width: 1000px) {
  .result {
    margin-top: -2px;
    display: flex;
    width: 96%;
    padding: 8px 14px 24px 7px;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    grid-column: 2;
    background-color: var(--system-smoky);
    box-shadow: none;
  }
  .result__main_header-h3,
  .result__main_header-h2 {
    font-size: 20px;
  }
  .result__main_price-text-price {
    letter-spacing: 0;
  }
  .result__main_delivery-ok-p {
    letter-spacing: 0px;
  }

  .result__main {
    gap: 3px;
  }

  .result_box-button_button {
    width: 100%;
    padding: 0px 32px 5px 32px;
    height: 42px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 9px;
    letter-spacing: 0.5px;
  }

  /* result__main_payment_box-confirm */
  .result__main_payment_box-confirm {
    padding: 9px 8px 12px 8px;
    gap: 8px;
    background-color: #ececf1;
    margin-top: 12px;
  }
  .result__main_delivery-ok {
    margin-top: 7px;
    margin-left: -2px;
    background-color: #ececf1;
    padding: 10px 4px 11px 9px;
  }

  .result_box-button_box-inform {
    align-items: flex-start;
    width: 260px;
    gap: 4px;
    margin-top: 16px;
  }
  .result_box-button {
    padding-top: 3px;
  }
  .result_box-button_box-inform_icon {
    width: 28px;
    height: 21px;
    margin-top: -5px;
  }
  .result_box-button_box-inform_p {
    font-size: 12px;
    margin-top: 0;
    line-height: 14px;
    letter-spacing: 0.6px;
  }
  .result_box-button_box-inform_span {
    font-size: 12px;
  }
  .result__main_delivery {
    margin-top: 10px;
  }
  .result__main_header {
    height: 46px;
  }
  .hideText,
  .hideSize,
  .result__main_payment_box-card,
  .result__main_delivery-text {
    display: none;
  }
}
