@import url("./cart.css");
@import url("./header.css");
@import url("./outOfStoke.css");
@import url("./wayOfDelivery.css");
@import url("./payment.css");
@import url("./result.css");
@import url("./recipient.css");

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
  background-color: var(--system-violet);
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --system-magenta: #cb11ab;
  --system-violet: #6725a8;
  --system-grey: #9797af;
  --system-white: #fff;
  --system-orange: #f55123;
  --system-red: #ff3b30;
  --system-smoky: #f6f6fa;
  --text-black: #000;
  --system-green: #0cb477;
  --rulers-rulers: rgba(0, 0, 0, 0.1);
  --rulers-rulers-input: rgba(0, 0, 0, 0.2);
}

hr {
  height: 1px;
  border: 0;
  background-color: #0000001a;
}

button {
  cursor: pointer;
}

/* -------------------         ICONS       ----------------*/

.icon-heart:hover {
  stroke: var(--system-magenta);
  cursor: pointer;
}
.activeHeart {
  stroke: var(--system-magenta);
}
.icon-trash:hover {
  stroke: var(--system-orange);
  cursor: pointer;
}
.root {
  position: relative;
}

.wrapper {
  display: flex;
  gap: 32px;
  border-radius: 24px;
  background-color: var(--system-smoky);
  padding: 4px 27px 0px 21px;
  justify-content: space-between;
}

.mainBox {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-top: 13px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* ------------------------  FOOTER   ---------------- */
.footer {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  background-color: var(--system-violet);
}
.footer-span {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  padding-top: 8px;
}

/* ------------------------ DYNIMIC  ---------------- */
/* ============ CIRCLE ============ */
.wrapper-circle,
.circle-img {
  position: relative;
}
.circle-img {
  cursor: pointer;
}
.circle-img:focus-visible ~ .circle-inform,
.circle-img:hover ~ .circle-inform {
  opacity: 1;
  visibility: visible;
}
.circle-inform {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 10;
  padding: 11px 16px 13px 16px;
  border-radius: 8px;
  background: var(--system-white);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
    0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s, visibility 0.3s;
  top: 100%;
}

.circle-inform_heading {
  color: var(--text-black);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 5px;
}
.circle-inform_text {
  color: var(--text-black);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
/* ============ DISCONT ============ */

.cart__main-box_product-box_amount-price:focus-visible ~ .discont-inform,
.cart__main-box_product-box_amount-price:hover ~ .discont-inform {
  opacity: 1;
  visibility: visible;
}
.item__sum-discountless {
  position: relative;
}
.discont-inform {
  opacity: 0;
  visibility: hidden;
  width: 239px;
  position: absolute;
  z-index: 10;
  padding: 11px 16px 13px 16px;
  border-radius: 8px;
  background: var(--system-white);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
    0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s, visibility 0.3s;
  top: 131%;
  right: -4%;
}

.discont-inform_box {
  display: flex;
  justify-content: space-between;
  color: var(--text-black);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
/* ============ INFORM ============ */
.infom-wrapper,
.inform-text {
  position: relative;
}
.inform-text {
  cursor: pointer;
}
.inform-text:focus-visible ~ .hide-inform-cart,
.inform-text:hover ~ .hide-inform-cart,
.inform-text:focus-visible ~ .hide-inform,
.inform-text:hover ~ .hide-inform {
  opacity: 1;
  visibility: visible;
}

.hide-inform {
  opacity: 0;
  visibility: hidden;
  width: 250px;
  position: absolute;
  z-index: 10;
  padding: 0px 16px 0px 16px;
  border-radius: 8px;
  background: var(--system-white);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
    0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s, visibility 0.3s;
  top: 128%;
  left: 30%;
}
.hide-inform-cart_text,
.hide-inform_text {
  color: var(--text-black);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.hide-inform-cart {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  position: absolute;
  z-index: 10;
  padding: 3px 16px 3px 16px;
  border-radius: 8px;
  background: var(--system-white);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3),
    0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s, visibility 0.3s;
  top: 90%;
}

/* ============ BUTTON ============ */

.block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 100;
}

/* ============ BOX CARD MODULE ============ */
.card-module {
  display: flex;
  flex-direction: column;
  padding: 10px 15px 10px 15px;
  width: 300px;
  border-radius: 16px;
  background: var(--system-white);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.card-module_heading {
  display: flex;
  justify-content: space-between;
}
.card-module_button-close {
  border: none;
  background-color: var(--system-white);
}

.card-module_box-card_card {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card-module_box-card_card_p {
  font-weight: 700;
  font-size: 12px;
}
.card-module_box-card_card_label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  cursor: pointer;
}

.card-module_box-card_card_span {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid var(--system-grey);
  position: relative;
  border-radius: 100%;
}
.card-module_box-card_card_span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  opacity: 0;
  border-radius: 100%;
  border: 5px solid var(--system-magenta);
  transition: all 0.2s;
}

.card-module_box-card_card_input:checked
  + .card-module_box-card_card_span::before {
  opacity: 1;
}
.card-module_button-choose {
  width: 150px;
  padding: 10px 48px;
  color: var(--system-white);
  background-color: var(--system-magenta);
  border: none;
  border-radius: 8px;
  margin-top: 80px;
}
.courierDelivery,
.selfDelivery,
.card-module_cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ============ BOX DELIVERY MODULE ============ */
.delivery-module {
  display: flex;
  flex-direction: column;
  padding: 10px 15px 10px 15px;
  border-radius: 16px;
  background: var(--system-white);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  gap: 15px;
}
.delivery-module_heading {
  display: flex;
  justify-content: space-between;
}
.delivery-module_button-close {
  border: none;
  background-color: var(--system-white);
}
.delivery-module_button-box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.delivery-module_button-box_button {
  width: 225px;
  padding: 7px 50px;
  border-radius: 20px;
  border: 2px solid rgba(203, 17, 171, 0.15);
  background: var(--text-white, #fff);
}
.delivery-module_button-box_button:hover,
.active-button {
  border: 2px solid #cb11ab;
}
.delivery-module__p {
  font-size: 14px;
  font-weight: 700;
}
.delivery-module_box-address {
  display: flex;
  justify-content: space-between;
}
.delivery-module_box-address_label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  cursor: pointer;
}

.delivery-module_box-address_span {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid var(--system-grey);
  position: relative;
  border-radius: 100%;
}
.delivery-module_box-address_span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 10px;
  height: 10px;
  opacity: 0;
  border-radius: 100%;
  border: 5px solid var(--system-magenta);
  transition: all 0.2s;
}

.delivery-module_box-address_input:checked
  + .delivery-module_box-address_span::before {
  opacity: 1;
}

.delivery-module_box-address_p {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.delivery-module_box-address_p_span {
  display: flex;
  gap: 5px;
  color: var(--system-grey);
}
.delivery-module_box-address_p_rating {
  color: var(--text-black);
}
.delivery-module_box-address_buttonTrash {
  border: none;
  background-color: var(--system-white);
}

.delivery-module_button-choose {
  width: 150px;
  padding: 10px 48px;
  color: var(--system-white);
  background-color: var(--system-magenta);
  border: none;
  border-radius: 8px;
  margin-top: 40px;
}

/* ------------------------  MOBILE MENU  ---------------- */

.mobile-menu {
  display: none;
}

@media (max-width: 1024px) {
  /* Main */
  .wrapper {
    gap: 29px;
    padding: 5px 27px 14px 22px;
  }
  .mainBox {
    gap: 13px;
  }
  /* Footer */
  .footer-span {
    padding-top: 3px;
  }
  .footer {
    padding: 10px;
  }
}

@media (max-width: 1000px) {
  /* Moduls */
  .card-module {
    width: 210px;
    height: 400px;
  }
  .delivery-module {
    width: 243px;
  }
  .card-module,
  .delivery-module {
    left: 50%;
  }
  .delivery-module_button-box_button {
    width: 113px;
    padding: 7px 0px;
    font-size: 12px;
  }
  .delivery-module_box-address_label {
    display: grid;
    grid-template-columns: 1fr 7fr;
  }

  .delivery-module_box-address_p {
    font-size: 12px;
  }
  .card-module_button-choose {
    width: 100%;
    margin-top: 148px;
  }

  /* Mobile Menu  */
  .mobile-menu {
    display: flex;
    gap: 37px;
    padding: 13px 14px 10px 10px;
    background-color: var(--system-smoky);
    margin-top: 45px;
    justify-content: space-around;
  }
  .mobile-menu-icon {
    width: 30px;
    height: 30px;
  }
  .mobile-menu_cart {
    position: relative;
  }

  .mobile-menu-icon_item-label {
    bottom: 21px;
    left: 20px;
    position: absolute;
    padding: 1px 5px;
    border-radius: 16px;
    background: var(--system-red);
    font-size: 10px;
    font-weight: 700;
    line-height: 13px;
    color: var(--system-white);
  }
  /* Main */
  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 7px 0 0px 0px;
    gap: 0px;
  }

  .mainBox {
    margin-top: 0;
    gap: 11px;
  }
  .hide-inform {
    left: 5%;
  }
  /* Footer */
  .footer {
    display: flex;
    height: 36px;
    padding: 10px;
    justify-content: center;
  }
  .footer-span {
    font-size: 13px;
    letter-spacing: 0.3px;
    margin-top: 58px;
  }
}

.hide {
  display: none;
}
