.delivery {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  flex-direction: column;
  align-self: stretch;
  padding: 0px 24px 24px 27px;
  width: 84.3rem;
  height: 34.3rem;
  border-radius: 16px;
  background: var(--system-white);
}
.delivery__head {
  display: flex;
  align-items: center;
  gap: 561px;
}
.delivery__head-text {
  flex: 1 0 0;
  color: var(--text-black);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.24px;
  margin-bottom: 0;
  margin-top: 24px;
}
.delivery__head-button {
  color: var(--system-magenta);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  background: transparent;
  border: none !important;
  margin-top: 30px;
}
/* ============ IMAGE ============ */
.delivery_img {
  position: relative;
  display: inline-block;
  margin-right: 4px;
  aspect-ratio: 40 / 56;
  max-height: 56px;
}
.delivery_img img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}
.delivery__boxInform_data-label {
  top: -8px;
  right: -7px;
}
.item-label {
  position: absolute;
  padding: 1px 5px;
  border-radius: 16px;
  background: var(--system-red);
  font-size: 10px;
  font-weight: 700;
  line-height: 13px;
  color: var(--system-white);
}
/* ============ TEXT ============ */

.delivery__text {
  font-size: 15px;
  margin-top: 1px;
}
.delivery__boxInform_address-textMain {
  margin-bottom: 2px;
  letter-spacing: 0.2px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 5px;
  margin-left: -5px;
}
.delivery__boxInform_address-text {
  margin-top: 0;
  font-size: 1.12rem;
  font-weight: 400;
  margin-bottom: 23px;
}
.delivery__boxInform_freeText {
  font-size: 15px;
  margin-top: 0;
}
.delivery__boxInform-greenText {
  color: var(--system-green);
  text-decoration: underline dashed rgba(12, 180, 119, 0.2) 1.5px;
  text-underline-offset: 3px;
}
.delivery__bottomText {
  font-size: 1.2rem;
  padding-left: 5px;
  letter-spacing: 0.3px;
}
.notAvailable__mainBox_productBox_img-textMobile {
  display: none;
}
.delivery__boxInform_data_imgBox {
  display: flex;
  gap: 4px;
}
.margin-top-img,
.margin-top-text {
  margin-top: 13px;
}
/* ============ BOX ============ */
.delivery__boxInform {
  display: flex;
  flex-direction: column;
}

.delivery__boxInform_address,
.delivery__boxInform_data {
  display: flex;
  align-items: flex-start;
  gap: 8.5rem;
}
.delivery__boxInform_cost {
  display: flex;
  align-items: flex-start;
  gap: 29px;
}
.delivery__boxInform_data {
  margin-top: 4px;
}
.delivery__boxInform_info {
  display: flex;
  align-items: center;
  margin-top: 19px;
}
.delivery__boxInform_data_boxImg {
  display: flex;
  gap: 6px;
}
.delivery__img {
  width: 4rem;
  height: 5rem;
}
.delivery__img-ok {
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-width: 1024px) {
  .delivery {
    width: 59rem;
    gap: 11px;
  }
  .delivery__head {
    gap: 303px;
  }
  .delivery__head-button {
    margin-top: 21px;
  }
  .delivery__boxInform_data {
    margin-top: 0px;
  }
  .margin-top-img,
  .margin-top-text {
    margin-top: 17px;
  }
  .delivery__boxInform_address,
  .delivery__boxInform_data {
    gap: 85px;
  }
  .delivery__boxInform_data_boxImg {
    gap: 7px;
  }
}

@media (max-width: 320px) {
  .delivery {
    width: 27.9em;
    padding: 0px 24px 24px 15px;
    height: 47.3rem;

    gap: 11px;
  }

  .delivery__head {
    gap: 15px;
  }
  .delivery__head-text {
    font-size: 18.5px;
    width: 191px;
    margin-top: 1px;
  }
  .delivery__head-button {
    margin-top: 7px;
  }
  .delivery__boxInform_address,
  .delivery__boxInform_cost,
  .delivery__boxInform_data {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  .delivery__boxInform_data {
    gap: 9px;
  }
  .margin-top-img {
    margin-top: 5px;
    margin-left: 4px;
  }
  .delivery__boxInform_address-text {
    font-size: 13px;
  }
  .delivery__boxInform_address-textMain {
    margin-bottom: 4px;
    letter-spacing: 0.4px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 1px;
    margin-left: 2px;
    line-height: 21.8px;
    font-size: 14px;
    width: 280px;
  }
  .delivery__text {
    margin-bottom: 0px;
    letter-spacing: 0.5px;
  }
  .delivery__boxInform_info {
    margin-top: 11px;
    margin-left: 8px;
  }
  .delivery__boxInform_freeText {
    margin-bottom: 21px;
  }
  .delivery__bottomText {
    width: 229px;
    padding-left: 9px;
    letter-spacing: 0.2px;
  }

  element.style {
    margin-top: 26px;
    margin-left: 11px;
  }
  .margin-top-text {
    margin-top: 29px;
  }
  .delivery__boxInform_data-label {
    top: -7px;
    right: -2px;
  }
  .delivery__img {
    width: 4.2rem;
    height: 5.6rem;
  }
  .infom-wrapper {
    margin-top: 9px;
    margin-left: 9px;
    width: 284px;
    height: 57px;
  }
}
